<br>
<h4 class="text-center">The Dining Room</h4>
<br>
<ul class="list-group">
    <li class="list-group-item"><a [routerLink]="['/home']" class="text-muted">Home</a></li>
    <li class="list-group-item"><a [routerLink]="['/restaurants']" class="text-muted">Restaurants</a></li>
    <li>
        <ul class="list-group">
            <li class="list-group-item"><a [routerLink]="['/restaurants/all']" class="text-muted">All</a></li>
            <li class="list-group-item"><a [routerLink]="['/restaurants/german']" class="text-muted">German</a></li>
            <li class="list-group-item"><a [routerLink]="['/restaurants/italian']" class="text-muted">Italian</a></li>
            <li class="list-group-item"><a [routerLink]="['/restaurants/american']" class="text-muted">American</a></li>
            <li class="list-group-item"><a [routerLink]="['/restaurants/pizza']" class="text-muted">Pizza</a></li>
            <li class="list-group-item"><a [routerLink]="['/restaurants/chinese']" class="text-muted">Chinese</a></li>
            <li class="list-group-item"><a [routerLink]="['/restaurants/vegetarian']" class="text-muted">Vegeterian</a></li>
        </ul>
    </li>
    <li class="list-group-item"><a [routerLink]="['/about']" class="text-muted">About</a></li>
</ul>
